# FOOTPRINT : CRÉATION DE LA BASE DE DONNÉE: BILAN DE LA FRANCE VS MONDE

In [ ]:
# pour enlever les warnings
# import warnings
# warnings.filterwarnings("ignore")

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
import folium

## Chargement des données

#### Les différents types de fichiers:
- Kaggle: 2016 Global Ecological Footprint (GEF): https://www.kaggle.com/footprintnetwork/ecological-footprint
- Kaggle: National Footprint Accounts 2018 (NFA): https://www.kaggle.com/footprintnetwork/national-footprint-accounts-2018

#### Kaggle: 2016 Global Ecological Footprint (GEF)
Exemple:
- https://www.kaggle.com/jonathanbouchet/global-ecological-footprint/repor
- https://www.kaggle.com/brenborbs/exploring-ecological-footprint-and-biocapacity

In [2]:
GEF = pd.read_csv("/Users/Johanna/Documents/SIMPLON/PROJET_FINAL/SOURCE/Kaggle - 2016 Global Ecological Footprint.csv")

In [3]:
GEF.head()

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2

#### Kaggle: National Footprint Accounts 2018 (NFA)
Exemple
- https://www.kaggle.com/alkismaz/dashboarding-day-2-carbon-emissions
- https://www.kaggle.com/evanngfn/intro-the-the-national-footprint-accounts
- https://www.kaggle.com/naamaavi/national-footprint-accounts-exploration-project
- https://www.kaggle.com/cnicault/national-footprint-accounts-data-analysis

In [4]:
NFA = pd.read_csv("/Users/Johanna/Documents/SIMPLON/PROJET_FINAL/SOURCE/Kaggle - National Footprint Accounts 2018.csv")

In [5]:
NFA.head()

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
0,Armenia,ARM,Asia,Western Asia,1992,BiocapPerCap,1.611286e-01,0.135023,0.083836,0.013718,0.033669,0.000000e+00,4.273741e-01,949.033,3449000
1,Armenia,ARM,Asia,Western Asia,1992,BiocapTotGHA,5.558130e+05,465763.337400,289190.662300,47320.224590,116139.598200,0.000000e+00,1.474227e+06,949.033,3449000
2,Armenia,ARM,Asia,Western Asia,1992,EFConsPerCap,3.909225e-01,0.189137,0.000001,0.004138,0.033669,1.112225e+00,1.730092e+00,949.033,3449000
3,Armenia,ARM,Asia,Western Asia,1992,EFConsTotGHA,1.348487e+06,652429.066600,4.327841,14272.803690,116139.598200,3.836620e+06,5.967954e+06,949.033,3449000
4,Armenia,ARM,Asia,Western Asia,1992,EFExportsPerCap,1.124910e-03,0.002283,0.000000,0.000438,0.000000,4.819043e-02,5.203676e-02,949.033,3449000

## Analyse des données

- Supprimer les données superflues et les valeurs aberrantes
- Ajouter les valeurs manquantes
- Adapter les données à une structure standard
- Masquer les données privées ou sensibles

#### Descriptif / Informations des colonnes
- GEF: 2016 Global Ecological Footprint

In [6]:
count_row = GEF.shape[0]  # gives number of row count
count_col = GEF.shape[1]  # gives number of col count
print(count_row)
print(count_col)

188
21

In [7]:
GEF.dtypes

Country                            object
Region                             object
Population (millions)             float64
HDI                               float64
GDP per Capita                     object
Cropland Footprint                float64
Grazing Footprint                 float64
Forest Footprint                  float64
Carbon Footprint                  float64
Fish Footprint                    float64
Total Ecological Footprint        float64
Cropland                          float64
Grazing Land                      float64
Forest Land                       float64
Fishing Water                     float64
Urban Land                        float64
Total Biocapacity                 float64
Biocapacity Deficit or Reserve    float64
Earths Required                   float64
Countries Required                float64
Data Quality                       object
dtype: object

In [8]:
GEF.describe()

,Population (millions),HDI,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,Total Ecological Footprint,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required
count,188.000000,172.00000,173.000000,173.000000,173.000000,173.000000,173.000000,188.000000,173.000000,173.000000,173.000000,173.000000,173.000000,188.000000,188.000000,188.000000,188.000000
mean,37.342372,0.68636,0.578208,0.263179,0.373815,1.804913,0.122486,3.317606,0.531850,0.456590,2.459191,0.595145,0.067110,4.019681,0.702074,1.915745,4.037397
std,140.756836,0.15604,0.355691,0.352067,0.359349,1.898283,0.158427,2.370931,0.672567,1.014738,10.593956,1.661872,0.054844,11.689075,11.771339,1.369624,12.444616
min,0.000000,0.34000,0.070000,0.000000,0.010000,0.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,-14.140000,0.240000,0.020000
25%,2.037500,0.55750,0.350000,0.080000,0.170000,0.420000,0.020000,1.482500,0.180000,0.030000,0.060000,0.030000,0.030000,0.675000,-1.935000,0.855000,0.942500
50%,7.970000,0.72000,0.520000,0.180000,0.260000,1.140000,0.070000,2.740000,0.350000,0.120000,0.340000,0.110000,0.050000,1.310000,-0.730000,1.580000,1.705000
75%,24.870000,0.80250,0.700000,0.320000,0.460000,2.600000,0.150000,4.640000,0.590000,0.340000,1.170000,0.370000,0.090000,2.815000,0.212500,2.677500,2.847500
max,1408.040000,0.94000,2.680000,3.470000,3.030000,12.650000,0.820000,15.820000,5.420000,8.230000,95.160000,16.070000,0.270000,111.350000,109.010000,9.140000,159.470000

- NFA: National Footprint Accounts 2018

In [9]:
count_row = NFA.shape[0]  # gives number of row count
count_col = NFA.shape[1]  # gives number of col count
print(count_row)
print(count_col)

87020
15

In [10]:
NFA.dtypes

country                      object
ISO alpha-3 code             object
UN_region                    object
UN_subregion                 object
year                          int64
record                       object
crop_land                   float64
grazing_land                float64
forest_land                 float64
fishing_ground              float64
built_up_land               float64
carbon                      float64
total                       float64
Percapita GDP (2010 USD)    float64
population                    int64
dtype: object

In [11]:
NFA.describe()

,year,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
count,87020.000000,6.353000e+04,6.353000e+04,6.353000e+04,6.353000e+04,6.353000e+04,6.353000e+04,8.702000e+04,71410.000000,8.702000e+04
mean,1989.193059,1.465068e+07,6.324612e+06,1.531334e+07,3.576364e+06,1.311909e+06,2.591459e+07,5.217695e+07,10129.722779,6.305956e+07
std,15.490923,1.445766e+08,6.237420e+07,1.798437e+08,3.905889e+07,1.448057e+07,3.448775e+08,5.890184e+08,15646.206882,4.264394e+08
min,1961.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.150000e-05,115.794000,5.000000e+03
25%,1976.000000,3.027605e-01,7.470049e-02,1.508091e-01,3.252735e-02,0.000000e+00,1.946352e-02,1.313131e+00,988.470000,2.001000e+06
50%,1990.000000,2.841671e+00,2.526463e+00,3.110603e+00,3.670478e+00,3.247780e-02,1.293047e+00,1.858845e+02,3153.740000,6.632500e+06
75%,2003.000000,2.027347e+06,6.580112e+05,1.497303e+06,2.436509e+05,5.794159e+04,9.168465e+05,7.792829e+06,11972.100000,2.056300e+07
max,2014.000000,3.996304e+09,1.576582e+09,5.496461e+09,1.127790e+09,4.649979e+08,1.251963e+10,2.060191e+10,113682.000000,7.265786e+09

In [12]:
# VALEUR NULL, NaN, 0
# Count all NaN in a DataFrame (both columns & Rows)
GEF.isnull().sum().sum()
GEF.isnull().sum()

Country                            0
Region                             0
Population (millions)              0
HDI                               16
GDP per Capita                    15
Cropland Footprint                15
Grazing Footprint                 15
Forest Footprint                  15
Carbon Footprint                  15
Fish Footprint                    15
Total Ecological Footprint         0
Cropland                          15
Grazing Land                      15
Forest Land                       15
Fishing Water                     15
Urban Land                        15
Total Biocapacity                  0
Biocapacity Deficit or Reserve     0
Earths Required                    0
Countries Required                 0
Data Quality                       0
dtype: int64

In [13]:
NFA.isnull().sum().sum()
NFA.isnull().sum()

country                         0
ISO alpha-3 code             1360
UN_region                       0
UN_subregion                    0
year                            0
record                          0
crop_land                   23490
grazing_land                23490
forest_land                 23490
fishing_ground              23490
built_up_land               23490
carbon                      23490
total                           0
Percapita GDP (2010 USD)    15610
population                      0
dtype: int64

In [14]:
# DOUBLONS / DUPLICATE:
# https://thispointer.com/python-3-ways-to-check-if-there-are-duplicates-in-a-list/

In [15]:
# NORMALISATION DU TYPE DE LA COLONNE "GDP per Capita" dans GEF:
GEF["GDP per Capita"]

0         $614.66
1       $4,534.37
2       $5,430.57
3       $4,665.91
4      $13,205.10
          ...
183     $1,532.31
184           NaN
185     $1,302.30
186     $1,740.64
187       $865.91
Name: GDP per Capita, Length: 188, dtype: object

In [16]:
GEF["GDP per Capita"].isnull().sum().sum()

15

In [17]:
# Renommer le nom de la colonne ($)
GEF.rename(columns={'GDP per Capita':'GDP per Capital ($)'}, inplace=True)
GEF

,Country,Region,Population (millions),HDI,GDP per Capital ($),Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Viet Nam,Asia-Pacific,90.80,0.66,"$1,532.31",0.50,0.01,0.19,0.79,0.05,...,0.55,0.01,0.17,0.16,0.10,1.00,-0.65,0.95,1.66,6
184,Wallis and Futuna Islands,Asia-Pacific,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.51,-0.56,1.19,1.37,3T
185,Yemen,Middle East/Central Asia,23.85,0.50,"$1,302.30",0.34,0.14,0.04,0.42,0.04,...,0.09,0.12,0.04,0.20,0.04,0.50,-0.53,0.59,2.06,5
186,Zambia,Africa,14.08,0.58,"$1,740.64",0.19,0.18,0.33,0.24,0.01,...,0.24,0.94,0.99,0.02,0.04,2.23,1.24,0.57,0.44,6
187,Zimbabwe,Africa,13.72,0.49,$865.91,0.20,0.32,0.29,0.53,0.01,...,0.15,0.32,0.12,0.01,0.02,0.62,-0.75,0.79,2.20,6

In [18]:
GEF.dtypes

Country                            object
Region                             object
Population (millions)             float64
HDI                               float64
GDP per Capital ($)                object
Cropland Footprint                float64
Grazing Footprint                 float64
Forest Footprint                  float64
Carbon Footprint                  float64
Fish Footprint                    float64
Total Ecological Footprint        float64
Cropland                          float64
Grazing Land                      float64
Forest Land                       float64
Fishing Water                     float64
Urban Land                        float64
Total Biocapacity                 float64
Biocapacity Deficit or Reserve    float64
Earths Required                   float64
Countries Required                float64
Data Quality                       object
dtype: object

In [19]:
#https://towardsdatascience.com/5-methods-to-remove-the-from-your-data-in-python-and-the-fastest-one-281489382455

In [20]:
# Remplacer les valeurs nulls par "NaN"
GEF["GDP per Capital ($)"] = GEF["GDP per Capital ($)"].fillna("NaN")

In [21]:
# Retirer les $ pour la conversion de la colonne de type object en float
GEF["GDP per Capital ($)"] = [x.strip('$') for x in GEF["GDP per Capital ($)"]]
GEF["GDP per Capital ($)"]

0         614.66
1       4,534.37
2       5,430.57
3       4,665.91
4      13,205.10
         ...
183     1,532.31
184          NaN
185     1,302.30
186     1,740.64
187       865.91
Name: GDP per Capital ($), Length: 188, dtype: object

In [22]:
# Retirer les "," pour la conversion de la colonne de type object en float
# GEF["GDP per Capital ($)"] = GEF["GDP per Capital ($)"].replace('/\D+/','')
PIB = GEF["GDP per Capital ($)"]
PIB

0         614.66
1       4,534.37
2       5,430.57
3       4,665.91
4      13,205.10
         ...
183     1,532.31
184          NaN
185     1,302.30
186     1,740.64
187       865.91
Name: GDP per Capital ($), Length: 188, dtype: object

#pip install regex
- https://regex101.com/
- https://stackabuse.com/using-regex-for-text-manipulation-in-python/
- https://www.geeksforgeeks.org/replace-values-in-pandas-dataframe-using-regex/
- https://stackoverflow.com/questions/8421922/how-do-i-convert-a-currency-string-to-a-floating-point-number-in-python

In [23]:
from re import sub
from decimal import Decimal

In [24]:
def Clean_PIB(PIB):
    for row in PIB:
        print(sub(r'[^\d.]', '', row))
        
Clean_PIB(PIB)

614.66
4534.37
5430.57
4665.91
13205.10
13540.00
3426.39

66604.20
51274.10
7106.04
22647.30
24299.00
857.50
15722.80
6300.45
48053.30
746.83
70626.30
2395.00
2253.09
4708.85
7743.50
13237.60

47097.40
7615.28
671.07
276.69
3801.45
877.64
1271.21
52145.40

495.04
1161.22
14525.80
5560.94
7305.22
860.24
1943.69
338.63
8979.96
1016.83
14522.80
5175.94
31454.70
21676.30
61413.60
1433.17
7088.01
6085.89
5192.88
2930.33
3696.33
24064.00
439.73
17304.40
379.38
4201.37
50960.20
45430.30


11989.00
505.76
3710.70
46822.40
1627.90
25987.40
7410.48

3233.80
459.09
681.25
3269.46
749.13
2269.51
13964.20
1513.85
3688.53
7511.10
5848.54
52853.60
33718.90
38412.00
5226.30
46201.60
4615.17
11278.00
1062.11

24155.80
41830.50
1116.37
1236.24
13732.00
9143.86
1338.42
397.38
5859.43
14373.70
114665.00
5174.89
456.33
493.84
10252.60
741.22

1524.39
8811.15
10123.90
1971.03
3736.07
7251.60

3149.43
538.82
1117.58
5880.80

700.07
53589.90

37488.30
1626.85
410.91
2612.12
100172.00
22622.80
1218.60
8410.77
1871.21
3557.31
5684.73
2379.44
13769.50
23217.30
99431.50

9213.94
13320.20
628.08
12952.50
7737.20
6171.48
4067.15
1384.53
23593.80
1079.27
6426.18
499.89
53122.40
18103.10
25040.50
1647.86

8089.87
32008.70
2880.03
8190.70
4657.48
59381.90
88506.20

836.17
765.33
5479.29
5167.86
580.86
4330.90
18310.80
4305.07
10437.70
5290.14
601.35
3589.63
40980.50
40817.40
49725.00
14238.10
1560.85
10237.80
1532.31

1302.30
1740.64
865.91

In [25]:
pib = []
for row in PIB:
    pib.append(sub(r'[^\d.]', '', row))
print(pib)

['614.66', '4534.37', '5430.57', '4665.91', '13205.10', '13540.00', '3426.39', '', '66604.20', '51274.10', '7106.04', '22647.30', '24299.00', '857.50', '15722.80', '6300.45', '48053.30', '746.83', '70626.30', '2395.00', '2253.09', '4708.85', '7743.50', '13237.60', '', '47097.40', '7615.28', '671.07', '276.69', '3801.45', '877.64', '1271.21', '52145.40', '', '495.04', '1161.22', '14525.80', '5560.94', '7305.22', '860.24', '1943.69', '338.63', '8979.96', '1016.83', '14522.80', '5175.94', '31454.70', '21676.30', '61413.60', '1433.17', '7088.01', '6085.89', '5192.88', '2930.33', '3696.33', '24064.00', '439.73', '17304.40', '379.38', '4201.37', '50960.20', '45430.30', '', '', '11989.00', '505.76', '3710.70', '46822.40', '1627.90', '25987.40', '7410.48', '', '3233.80', '459.09', '681.25', '3269.46', '749.13', '2269.51', '13964.20', '1513.85', '3688.53', '7511.10', '5848.54', '52853.60', '33718.90', '38412.00', '5226.30', '46201.60', '4615.17', '11278.00', '1062.11', '', '24155.80', '41830.50', '1116.37', '1236.24', '13732.00', '9143.86', '1338.42', '397.38', '5859.43', '14373.70', '114665.00', '5174.89', '456.33', '493.84', '10252.60', '741.22', '', '1524.39', '8811.15', '10123.90', '1971.03', '3736.07', '7251.60', '', '3149.43', '538.82', '1117.58', '5880.80', '', '700.07', '53589.90', '', '37488.30', '1626.85', '410.91', '2612.12', '100172.00', '22622.80', '1218.60', '8410.77', '1871.21', '3557.31', '5684.73', '2379.44', '13769.50', '23217.30', '99431.50', '', '9213.94', '13320.20', '628.08', '12952.50', '7737.20', '6171.48', '4067.15', '1384.53', '23593.80', '1079.27', '6426.18', '499.89', '53122.40', '18103.10', '25040.50', '1647.86', '', '8089.87', '32008.70', '2880.03', '8190.70', '4657.48', '59381.90', '88506.20', '', '836.17', '765.33', '5479.29', '5167.86', '580.86', '4330.90', '18310.80', '4305.07', '10437.70', '5290.14', '601.35', '3589.63', '40980.50', '40817.40', '49725.00', '14238.10', '1560.85', '10237.80', '1532.31', '', '1302.30', '1740.64', '865.91']

In [26]:
GEF.columns

Index(['Country', 'Region', 'Population (millions)', 'HDI',
       'GDP per Capital ($)', 'Cropland Footprint', 'Grazing Footprint',
       'Forest Footprint', 'Carbon Footprint', 'Fish Footprint',
       'Total Ecological Footprint', 'Cropland', 'Grazing Land', 'Forest Land',
       'Fishing Water', 'Urban Land', 'Total Biocapacity',
       'Biocapacity Deficit or Reserve', 'Earths Required',
       'Countries Required', 'Data Quality'],
      dtype='object')

In [27]:
print(pib)
GEF['PIB'] = pd.DataFrame(pib)
GEF = GEF[['Country', 'Region', 'Population (millions)', 'HDI',
       'GDP per Capital ($)', 'PIB', 'Cropland Footprint', 'Grazing Footprint',
       'Forest Footprint', 'Carbon Footprint', 'Fish Footprint',
       'Total Ecological Footprint', 'Cropland', 'Grazing Land', 'Forest Land',
       'Fishing Water', 'Urban Land', 'Total Biocapacity',
       'Biocapacity Deficit or Reserve', 'Earths Required',
       'Countries Required', 'Data Quality']]

['614.66', '4534.37', '5430.57', '4665.91', '13205.10', '13540.00', '3426.39', '', '66604.20', '51274.10', '7106.04', '22647.30', '24299.00', '857.50', '15722.80', '6300.45', '48053.30', '746.83', '70626.30', '2395.00', '2253.09', '4708.85', '7743.50', '13237.60', '', '47097.40', '7615.28', '671.07', '276.69', '3801.45', '877.64', '1271.21', '52145.40', '', '495.04', '1161.22', '14525.80', '5560.94', '7305.22', '860.24', '1943.69', '338.63', '8979.96', '1016.83', '14522.80', '5175.94', '31454.70', '21676.30', '61413.60', '1433.17', '7088.01', '6085.89', '5192.88', '2930.33', '3696.33', '24064.00', '439.73', '17304.40', '379.38', '4201.37', '50960.20', '45430.30', '', '', '11989.00', '505.76', '3710.70', '46822.40', '1627.90', '25987.40', '7410.48', '', '3233.80', '459.09', '681.25', '3269.46', '749.13', '2269.51', '13964.20', '1513.85', '3688.53', '7511.10', '5848.54', '52853.60', '33718.90', '38412.00', '5226.30', '46201.60', '4615.17', '11278.00', '1062.11', '', '24155.80', '41830.50', '1116.37', '1236.24', '13732.00', '9143.86', '1338.42', '397.38', '5859.43', '14373.70', '114665.00', '5174.89', '456.33', '493.84', '10252.60', '741.22', '', '1524.39', '8811.15', '10123.90', '1971.03', '3736.07', '7251.60', '', '3149.43', '538.82', '1117.58', '5880.80', '', '700.07', '53589.90', '', '37488.30', '1626.85', '410.91', '2612.12', '100172.00', '22622.80', '1218.60', '8410.77', '1871.21', '3557.31', '5684.73', '2379.44', '13769.50', '23217.30', '99431.50', '', '9213.94', '13320.20', '628.08', '12952.50', '7737.20', '6171.48', '4067.15', '1384.53', '23593.80', '1079.27', '6426.18', '499.89', '53122.40', '18103.10', '25040.50', '1647.86', '', '8089.87', '32008.70', '2880.03', '8190.70', '4657.48', '59381.90', '88506.20', '', '836.17', '765.33', '5479.29', '5167.86', '580.86', '4330.90', '18310.80', '4305.07', '10437.70', '5290.14', '601.35', '3589.63', '40980.50', '40817.40', '49725.00', '14238.10', '1560.85', '10237.80', '1532.31', '', '1302.30', '1740.64', '865.91']

In [28]:
# SUPPRIMER DES COLONNES:
del GEF['GDP per Capital ($)']
GEF

,Country,Region,Population (millions),HDI,PIB,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,4534.37,0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,5430.57,0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,4665.91,0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,13205.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Viet Nam,Asia-Pacific,90.80,0.66,1532.31,0.50,0.01,0.19,0.79,0.05,...,0.55,0.01,0.17,0.16,0.10,1.00,-0.65,0.95,1.66,6
184,Wallis and Futuna Islands,Asia-Pacific,0.01,NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.51,-0.56,1.19,1.37,3T
185,Yemen,Middle East/Central Asia,23.85,0.50,1302.30,0.34,0.14,0.04,0.42,0.04,...,0.09,0.12,0.04,0.20,0.04,0.50,-0.53,0.59,2.06,5
186,Zambia,Africa,14.08,0.58,1740.64,0.19,0.18,0.33,0.24,0.01,...,0.24,0.94,0.99,0.02,0.04,2.23,1.24,0.57,0.44,6
187,Zimbabwe,Africa,13.72,0.49,865.91,0.20,0.32,0.29,0.53,0.01,...,0.15,0.32,0.12,0.01,0.02,0.62,-0.75,0.79,2.20,6

In [29]:
# CONVERTIR TOUTES LES VALEURS object TO float64:
GEF["PIB"] = GEF["PIB"].transform(pd.to_numeric, errors='coerce')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
GEF.dtypes

Country                            object
Region                             object
Population (millions)             float64
HDI                               float64
PIB                               float64
Cropland Footprint                float64
Grazing Footprint                 float64
Forest Footprint                  float64
Carbon Footprint                  float64
Fish Footprint                    float64
Total Ecological Footprint        float64
Cropland                          float64
Grazing Land                      float64
Forest Land                       float64
Fishing Water                     float64
Urban Land                        float64
Total Biocapacity                 float64
Biocapacity Deficit or Reserve    float64
Earths Required                   float64
Countries Required                float64
Data Quality                       object
dtype: object

In [31]:
# NORMALISATION DES INFORMATIONS PAR COLONNES: Country
GEF_country = GEF["Country"].unique()
NFA_country = NFA["country"].unique()
sorted(GEF_country)

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo, Democratic Republic of',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 "Korea, Democratic People's Republic of",
 'Korea, Republic of',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libyan Arab Jamahiriya',
 'Lithuania',
 'Luxembourg',
 'Macedonia TFYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Réunion',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela, Bolivarian Republic of',
 'Viet Nam',
 'Wallis and Futuna Islands',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [32]:
sorted(NFA_country)

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo, Democratic Republic of',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Czechoslovakia',
 "Côte d'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Ethiopia PDR',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Democratic People's Republic of",
 'Korea, Republic of',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libyan Arab Jamahiriya',
 'Lithuania',
 'Luxembourg',
 'Macedonia TFYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Federated States of',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Réunion',
 'Saint Lucia',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sudan (former)',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'USSR',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, Bolivarian Republic of',
 'Viet Nam',
 'World',
 'Yemen',
 'Yugoslav SFR',
 'Zambia',
 'Zimbabwe']

In [33]:
len(sorted(GEF_country))

188

In [34]:
len(sorted(NFA_country))

196

In [35]:
# COMPARE TWO LISTS AND RETURN MATCHES:
# https://www.geeksforgeeks.org/python-difference-of-two-lists-including-duplicates/

In [36]:
def notmatches(seriesA, seriesB):
    setA = set(seriesA)
    setB = set(seriesB)
    return setA - setB

In [37]:
def matches(seriesA, seriesB):
    setA = set(seriesA)
    setB = set(seriesB)
    return setA & setB

In [38]:
# SAME SAME
country_matches = sorted((matches(list(GEF_country), NFA_country)))
country_matches
len(country_matches)
country_matches

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo, Democratic Republic of',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 "Korea, Democratic People's Republic of",
 'Korea, Republic of',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libyan Arab Jamahiriya',
 'Lithuania',
 'Luxembourg',
 'Macedonia TFYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Réunion',
 'Saint Lucia',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela, Bolivarian Republic of',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [39]:
# DIFFERENT: country not in NFA_country
country_notmatches_1 = sorted((notmatches(list(GEF_country), NFA_country)))
country_notmatches_1
# Renseigner des informations complémentaires: ISO alpha-3 code, UN_region, UN_subregion

['British Virgin Islands',
 'Nauru',
 'New Caledonia',
 'Saint Kitts and Nevis',
 'Saint Vincent and Grenadines',
 'Solomon Islands',
 'Wallis and Futuna Islands']

In [40]:
# DIFFERENT: country not in GEF_country
country_notmatches_2 = sorted((notmatches(list(NFA_country), GEF_country)))
country_notmatches_2

['Belize',
 'Cook Islands',
 'Czechoslovakia',
 'Ethiopia PDR',
 'Kiribati',
 'Malta',
 'Micronesia, Federated States of',
 'Serbia and Montenegro',
 'South Sudan',
 'Sudan',
 'Sudan (former)',
 'USSR',
 'Vanuatu',
 'World',
 'Yugoslav SFR']

In [41]:
country_del = sorted(country_notmatches_1 + country_notmatches_2)
country_del

['Belize',
 'British Virgin Islands',
 'Cook Islands',
 'Czechoslovakia',
 'Ethiopia PDR',
 'Kiribati',
 'Malta',
 'Micronesia, Federated States of',
 'Nauru',
 'New Caledonia',
 'Saint Kitts and Nevis',
 'Saint Vincent and Grenadines',
 'Serbia and Montenegro',
 'Solomon Islands',
 'South Sudan',
 'Sudan',
 'Sudan (former)',
 'USSR',
 'Vanuatu',
 'Wallis and Futuna Islands',
 'World',
 'Yugoslav SFR']

In [42]:
len(country_del)

22

In [43]:
# Drop a row by condition
GEF_Country = GEF[~GEF["Country"].isin(country_del)]
NFA_Country = NFA[~NFA["country"].isin(country_del)]

# Verification between both dataframe GEF & NFA
GEF_Country = sorted(GEF_Country['Country'].unique())
NFA_Country = sorted(NFA_Country['country'].unique())
score = len(GEF_Country) - len(NFA_Country)
print(score)

0

In [44]:
#from collections import Counter 
# 2: Difference of list including duplicates 
#res = list((Counter(GEF_country) - Counter(NFA_country)).elements()) 
#print("The list after performing the subtraction : " + str(res))

In [45]:
# NORMALISATION DES TITRE DES COLONNE dans GEF:
GEF.rename(columns={'Population (millions)':'Population_M',
                    'HDI':'HDI',
                    'PIB':'PIB',
                    'Cropland Footprint':'Cropland_Footprint', 
                    'Grazing Footprint':'Grazing_Footprint',
                    'Forest Footprint':'Forest_Footprint',
                    'Carbon Footprint':'Carbon_Footprint',
                    'Fish Footprint':'Fish_Footprint',
                    'Total Ecological Footprint':'Total_Ecological_Footprint',
                    'Grazing Land':'Grazing_Land',
                    'Forest Land':'Forest_Land',
                    'Fishing Water':'Fishing_Water',
                    'Urban Land':'Urban_Land',
                    'Total Biocapacity':'Total_Biocapacity',
                    'Biocapacity Deficit or Reserve':'Biocapacity_Deficit_or_Reserve',
                    'Earths Required':'Earths_Required',
                    'Countries Required':'Countries_Required',
                    'Data Quality':'Data_Quality'
                   }, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [46]:
# NORMALISATION DES TITRE DES COLONNE dans NFA:
NFA.rename(columns={'country':'Country',
                    'ISO alpha-3 code':'ISO_3',
                    'year':'Years',
                    'record':'Record',
                    'crop_land':'Crop_Land',
                    'grazing_land':'Grazing_Land',
                    'forest_land':'Forest_Land',
                    'fishing_ground':'Fishing_Ground',
                    'built_up_land':'Built_up_Land',
                    'carbon':'Carbon',
                    'total':'Total',
                    'Percapita GDP (2010 USD)':'Percapita_GDP_2010_USD',
                    'population':'Population'
                   }, inplace=True)

In [47]:
GEF.dtypes

Country                            object
Region                             object
Population_M                      float64
HDI                               float64
PIB                               float64
Cropland_Footprint                float64
Grazing_Footprint                 float64
Forest_Footprint                  float64
Carbon_Footprint                  float64
Fish_Footprint                    float64
Total_Ecological_Footprint        float64
Cropland                          float64
Grazing_Land                      float64
Forest_Land                       float64
Fishing_Water                     float64
Urban_Land                        float64
Total_Biocapacity                 float64
Biocapacity_Deficit_or_Reserve    float64
Earths_Required                   float64
Countries_Required                float64
Data_Quality                       object
dtype: object

In [48]:
NFA.dtypes

Country                    object
ISO_3                      object
UN_region                  object
UN_subregion               object
Years                       int64
Record                     object
Crop_Land                 float64
Grazing_Land              float64
Forest_Land               float64
Fishing_Ground            float64
Built_up_Land             float64
Carbon                    float64
Total                     float64
Percapita_GDP_2010_USD    float64
Population                  int64
dtype: object

### 1 . CREATION DE DATAFRAME: Country_table_index

In [49]:
# AJOUT ET OPTIMISATION DE LA DONNÉE: CREATION D'UNE TABLE PAYS
# Country_table = 
# Country    
# ISO alpha-3 code    
# UN_region               
# UN_subregion
# HDI  
# PIB
# Biocapacity_Deficit_or_Reserve
# Earths_Required
# Countries_Required
# Data_Quality

In [50]:
year = 2014 - 1961 + 1
year

54

In [51]:
# 10 record 
time = 54*10
time

540

In [52]:
NFA.shape

(87020, 15)

In [53]:
len(NFA['Country'].unique())

196

In [54]:
len(NFA['ISO_3'].unique())

194

In [55]:
NFA.sort_values(by=['Country','Years'], inplace=True)
NFA.head()

,Country,ISO_3,UN_region,UN_subregion,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total,Percapita_GDP_2010_USD,Population
230,Afghanistan,AFG,Asia,Southern Asia,1961,BiocapPerCap,5.445512e-01,6.778924e-01,0.071406,0.000000,0.029707,0.000000,1.323556e+00,NaN,9165000
231,Afghanistan,AFG,Asia,Southern Asia,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,654431.076400,0.000000,272261.569800,0.000000,1.213033e+07,NaN,9165000
232,Afghanistan,AFG,Asia,Southern Asia,1961,EFConsPerCap,5.388636e-01,5.281659e-01,0.086077,0.000053,0.029707,0.028572,1.211439e+00,NaN,9165000
233,Afghanistan,AFG,Asia,Southern Asia,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,788895.590400,485.346414,272261.569800,261862.734700,1.110278e+07,NaN,9165000
234,Afghanistan,AFG,Asia,Southern Asia,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000,0.000000,0.000000,0.001959,6.697406e-02,NaN,9165000

In [56]:
#country_del
#country_notmatches_1 # DIFFERENT: country not in NFA_country
#country_notmatches_2 # DIFFERENT: country not in GEF_country

In [57]:
len(GEF_Country)

181

In [58]:
# Drop a row by condition
GEF = GEF[GEF.Country != 'British Virgin Islands']
GEF = GEF[GEF.Country != 'Nauru']
GEF = GEF[GEF.Country != 'New Caledonia']
GEF = GEF[GEF.Country != 'Saint Kitts and Nevis']
GEF = GEF[GEF.Country != 'Saint Vincent and Grenadines']
GEF = GEF[GEF.Country != 'Solomon Islands']
GEF = GEF[GEF.Country != 'Wallis and Futuna Islands']

In [59]:
len(GEF.Country.unique())

181

In [60]:
GEF.reset_index(inplace=True)
del GEF['index']
GEF

,Country,Region,Population_M,HDI,PIB,Cropland_Footprint,Grazing_Footprint,Forest_Footprint,Carbon_Footprint,Fish_Footprint,...,Cropland,Grazing_Land,Forest_Land,Fishing_Water,Urban_Land,Total_Biocapacity,Biocapacity_Deficit_or_Reserve,Earths_Required,Countries_Required,Data_Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.460000,614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.730000,4534.37,0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.730000,5430.57,0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.520000,4665.91,0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.780000,13205.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",Latin America,29.96,0.763846,10237.80,0.45,0.74,0.12,2.13,0.09,...,0.14,0.57,1.79,0.24,0.04,2.78,-0.79,2.06,1.28,5
177,Viet Nam,Asia-Pacific,90.80,0.660000,1532.31,0.50,0.01,0.19,0.79,0.05,...,0.55,0.01,0.17,0.16,0.10,1.00,-0.65,0.95,1.66,6
178,Yemen,Middle East/Central Asia,23.85,0.500000,1302.30,0.34,0.14,0.04,0.42,0.04,...,0.09,0.12,0.04,0.20,0.04,0.50,-0.53,0.59,2.06,5
179,Zambia,Africa,14.08,0.580000,1740.64,0.19,0.18,0.33,0.24,0.01,...,0.24,0.94,0.99,0.02,0.04,2.23,1.24,0.57,0.44,6
180,Zimbabwe,Africa,13.72,0.490000,865.91,0.20,0.32,0.29,0.53,0.01,...,0.15,0.32,0.12,0.01,0.02,0.62,-0.75,0.79,2.20,6

In [61]:
GEF[GEF['Region'].notnull() & (GEF['Country'] == "Nauru")]

Empty DataFrame
Columns: [Country, Region, Population_M, HDI, PIB, Cropland_Footprint, Grazing_Footprint, Forest_Footprint, Carbon_Footprint, Fish_Footprint, Total_Ecological_Footprint, Cropland, Grazing_Land, Forest_Land, Fishing_Water, Urban_Land, Total_Biocapacity, Biocapacity_Deficit_or_Reserve, Earths_Required, Countries_Required, Data_Quality]
Index: []

[0 rows x 21 columns]

In [62]:
# GEF.to_csv('GEF.csv')

In [63]:
NFA = NFA[NFA.Country != 'Belize']
NFA = NFA[NFA.Country != 'Cook Islands']
NFA = NFA[NFA.Country != 'Czechoslovakia']
NFA = NFA[NFA.Country != 'Ethiopia PDR']
NFA = NFA[NFA.Country != 'Kiribati']
NFA = NFA[NFA.Country != 'Malta']
NFA = NFA[NFA.Country != 'Micronesia, Federated States of']
NFA = NFA[NFA.Country != 'Serbia and Montenegro']
NFA = NFA[NFA.Country != 'South Sudan']
NFA = NFA[NFA.Country != 'Sudan']
NFA = NFA[NFA.Country != 'Sudan (former)']
NFA = NFA[NFA.Country != 'USSR']
NFA = NFA[NFA.Country != 'Vanuatu']
NFA = NFA[NFA.Country != 'Yugoslav SFR']
#NFA = NFA[NFA.Country != 'World']

In [64]:
GEF[GEF['Region'].notnull() & (GEF['Country'] == "Sudan")]

Empty DataFrame
Columns: [Country, Region, Population_M, HDI, PIB, Cropland_Footprint, Grazing_Footprint, Forest_Footprint, Carbon_Footprint, Fish_Footprint, Total_Ecological_Footprint, Cropland, Grazing_Land, Forest_Land, Fishing_Water, Urban_Land, Total_Biocapacity, Biocapacity_Deficit_or_Reserve, Earths_Required, Countries_Required, Data_Quality]
Index: []

[0 rows x 21 columns]

In [65]:
len(NFA.Country.unique())

182

In [66]:
# NFA.to_csv('NFA.csv')

In [67]:
# CREATION DE LISTE AVEC VALEUR UNIQUE DANS CHAQUE CATEGORIE
# Country : Ajout des informations des country not in NFA_country
# Collecte des données par colonne:
#ISO = NFA["ISO alpha-3 code"].unique()
Country = NFA['Country'].iloc[:87020:10]
#Country = Country.drop_duplicates()
Country

230      Afghanistan
240      Afghanistan
250      Afghanistan
260      Afghanistan
270      Afghanistan
            ...
63080       Zimbabwe
63090       Zimbabwe
63100       Zimbabwe
63110       Zimbabwe
63120       Zimbabwe
Name: Country, Length: 8426, dtype: object

In [68]:
#ISO = NFA["ISO alpha-3 code"].unique()
ISO = NFA['ISO_3'].iloc[:87020:10]
ISO

230      AFG
240      AFG
250      AFG
260      AFG
270      AFG
        ...
63080    ZWE
63090    ZWE
63100    ZWE
63110    ZWE
63120    ZWE
Name: ISO_3, Length: 8426, dtype: object

In [69]:
UN_region = NFA['UN_region'].iloc[:87020:10]
UN_region

230        Asia
240        Asia
250        Asia
260        Asia
270        Asia
          ...
63080    Africa
63090    Africa
63100    Africa
63110    Africa
63120    Africa
Name: UN_region, Length: 8426, dtype: object

In [70]:
UN_region.iloc[1]

'Asia'

In [71]:
UN_subregion = NFA['UN_subregion'].iloc[:87020:10]
UN_subregion

230       Southern Asia
240       Southern Asia
250       Southern Asia
260       Southern Asia
270       Southern Asia
              ...
63080    Eastern Africa
63090    Eastern Africa
63100    Eastern Africa
63110    Eastern Africa
63120    Eastern Africa
Name: UN_subregion, Length: 8426, dtype: object

In [72]:
# DIFFERENT: country not in Country
country_notmatches_3 = sorted((notmatches(NFA_Country, Country)))
country_notmatches_3

[]

In [73]:
Country_table_index = pd.DataFrame(
    {'Country': Country,
     'ISO_3': ISO,
     'UN_region': UN_region,
     'UN_subregion': UN_subregion})

In [74]:
# ADD VALUE AT SPECIFIC LINE IN DATAFRAME: ISO, UN_region, UN_subregion, columns
# Country_table_index.loc[[85700],'ISO_3'] = 'W'
# Country_table_index.loc[85700]

In [75]:
NFA["ISO_3"].fillna("W", inplace = True)

In [76]:
Country_table_index = Country_table_index.dropna()

In [77]:
Country_table_index = Country_table_index.reset_index(drop=True)
Country_table_index = Country_table_index.drop_duplicates(keep = 'first') 
Country_table_index.sort_values(by=['Country'], inplace=True)
Country_table_index

,Country,ISO_3,UN_region,UN_subregion
0,Afghanistan,AFG,Asia,Southern Asia
54,Albania,ALB,Europe,Southern Europe
108,Algeria,DZA,Africa,Northern Africa
162,Angola,AGO,Africa,Middle Africa
216,Antigua and Barbuda,ATG,Latin America and the Caribbean,Caribbean
...,...,...,...,...
8105,"Venezuela, Bolivarian Republic of",VEN,Latin America and the Caribbean,South America
8159,Viet Nam,VNM,Asia,South-Eastern Asia
8213,Yemen,YEM,Asia,Western Asia
8267,Zambia,ZMB,Africa,Eastern Africa
8318,Zimbabwe,ZWE,Africa,Eastern Africa

In [78]:
# Supprimer la ligne 'World'
Country_table_index = Country_table_index[Country_table_index.Country != 'World']
Country_table_index = Country_table_index.reset_index(drop=True)
Country_table_index.sort_values(by=['Country'], inplace=True)
Country_table_index

,Country,ISO_3,UN_region,UN_subregion
0,Afghanistan,AFG,Asia,Southern Asia
1,Albania,ALB,Europe,Southern Europe
2,Algeria,DZA,Africa,Northern Africa
3,Angola,AGO,Africa,Middle Africa
4,Antigua and Barbuda,ATG,Latin America and the Caribbean,Caribbean
...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",VEN,Latin America and the Caribbean,South America
177,Viet Nam,VNM,Asia,South-Eastern Asia
178,Yemen,YEM,Asia,Western Asia
179,Zambia,ZMB,Africa,Eastern Africa
180,Zimbabwe,ZWE,Africa,Eastern Africa

In [79]:
len(Country_table_index.ISO_3)

181

In [80]:
Country_table = Country_table_index
# Country_table.to_csv('Country_table.csv')

### 2 . CREATION DE DATAFRAME: Bilan_table

In [81]:
Bilan_table = pd.DataFrame(
    {'Country': GEF.Country,
     'HDI': GEF.HDI,
     'Biocapacity_Deficit_or_Reserve': GEF.Biocapacity_Deficit_or_Reserve,
     'Earths_Required': GEF.Earths_Required,
     'Countries_Required': GEF.Countries_Required,
     'Data_Quality': GEF.Data_Quality
    })
# Re-index la table
Bilan_table.reset_index(inplace=True)
del Bilan_table['index']
Bilan_table

,Country,HDI,Biocapacity_Deficit_or_Reserve,Earths_Required,Countries_Required,Data_Quality
0,Afghanistan,0.460000,-0.30,0.46,1.60,6
1,Albania,0.730000,-1.03,1.27,1.87,6
2,Algeria,0.730000,-1.53,1.22,3.61,5
3,Angola,0.520000,1.61,0.54,0.37,6
4,Antigua and Barbuda,0.780000,-4.44,3.11,5.70,2
...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",0.763846,-0.79,2.06,1.28,5
177,Viet Nam,0.660000,-0.65,0.95,1.66,6
178,Yemen,0.500000,-0.53,0.59,2.06,5
179,Zambia,0.580000,1.24,0.57,0.44,6
180,Zimbabwe,0.490000,-0.75,0.79,2.20,6

In [82]:
# Merge les deux dataframes: Country_table_index & Country_table_2016
Bilan_table =  pd.merge(Country_table_index, Bilan_table, on='Country')
Bilan_table

,Country,ISO_3,UN_region,UN_subregion,HDI,Biocapacity_Deficit_or_Reserve,Earths_Required,Countries_Required,Data_Quality
0,Afghanistan,AFG,Asia,Southern Asia,0.460000,-0.30,0.46,1.60,6
1,Albania,ALB,Europe,Southern Europe,0.730000,-1.03,1.27,1.87,6
2,Algeria,DZA,Africa,Northern Africa,0.730000,-1.53,1.22,3.61,5
3,Angola,AGO,Africa,Middle Africa,0.520000,1.61,0.54,0.37,6
4,Antigua and Barbuda,ATG,Latin America and the Caribbean,Caribbean,0.780000,-4.44,3.11,5.70,2
...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",VEN,Latin America and the Caribbean,South America,0.763846,-0.79,2.06,1.28,5
177,Viet Nam,VNM,Asia,South-Eastern Asia,0.660000,-0.65,0.95,1.66,6
178,Yemen,YEM,Asia,Western Asia,0.500000,-0.53,0.59,2.06,5
179,Zambia,ZMB,Africa,Eastern Africa,0.580000,1.24,0.57,0.44,6
180,Zimbabwe,ZWE,Africa,Eastern Africa,0.490000,-0.75,0.79,2.20,6

In [83]:
Country_table_index = Bilan_table[['Country','ISO_3','UN_region','UN_subregion', 'Data_Quality']]
Country_table_index

,Country,ISO_3,UN_region,UN_subregion,Data_Quality
0,Afghanistan,AFG,Asia,Southern Asia,6
1,Albania,ALB,Europe,Southern Europe,6
2,Algeria,DZA,Africa,Northern Africa,5
3,Angola,AGO,Africa,Middle Africa,6
4,Antigua and Barbuda,ATG,Latin America and the Caribbean,Caribbean,2
...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",VEN,Latin America and the Caribbean,South America,5
177,Viet Nam,VNM,Asia,South-Eastern Asia,6
178,Yemen,YEM,Asia,Western Asia,5
179,Zambia,ZMB,Africa,Eastern Africa,6
180,Zimbabwe,ZWE,Africa,Eastern Africa,6

In [84]:
Country_table_all = Country_table_index

In [85]:
# Ajout de la ligne 'World'
add_country = [ ('World', 'W', 'World', 'World') ]
Country_table_add = pd.DataFrame(add_country, columns = ['Country' , 'ISO_3', 'UN_region' , 'UN_subregion']) 
Country_table_all = Country_table_all.append(Country_table_add.loc[:], ignore_index=True)
Country_table_all.sort_values(by=['Country'], inplace=True)
Country_table_all.reset_index(inplace=True)
del Country_table_all['index']
Country_table_all = Country_table_all[['Country', 'ISO_3','UN_region','UN_subregion', 'Data_Quality']]
Country_table_all

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Country,ISO_3,UN_region,UN_subregion,Data_Quality
0,Afghanistan,AFG,Asia,Southern Asia,6
1,Albania,ALB,Europe,Southern Europe,6
2,Algeria,DZA,Africa,Northern Africa,5
3,Angola,AGO,Africa,Middle Africa,6
4,Antigua and Barbuda,ATG,Latin America and the Caribbean,Caribbean,2
...,...,...,...,...,...
177,Viet Nam,VNM,Asia,South-Eastern Asia,6
178,World,W,World,World,NaN
179,Yemen,YEM,Asia,Western Asia,5
180,Zambia,ZMB,Africa,Eastern Africa,6
181,Zimbabwe,ZWE,Africa,Eastern Africa,6

In [151]:
Country_table_all.to_csv('Country_table.csv')

In [87]:
Bilan_table.isnull().sum()
null_columns = Bilan_table.columns[Bilan_table.isnull().any()]

In [88]:
print(Bilan_table[Bilan_table["ISO_3"].isnull()][null_columns])

Empty DataFrame
Columns: [HDI]
Index: []

In [89]:
# ADD VALUE AT SPECIFIC LINE IN DATAFRAME: ISO, UN_region, UN_subregion, columns
# https://stackoverflow.com/questions/46113078/pandas-add-value-at-specific-iloc-into-new-dataframe-column

In [90]:
Bilan_table.isnull().sum()

Country                            0
ISO_3                              0
UN_region                          0
UN_subregion                       0
HDI                               12
Biocapacity_Deficit_or_Reserve     0
Earths_Required                    0
Countries_Required                 0
Data_Quality                       0
dtype: int64

In [91]:
Bilan_table = Bilan_table[['ISO_3','HDI','Biocapacity_Deficit_or_Reserve', 'Earths_Required', 'Countries_Required']]
Bilan_table.insert(1, "Years", 2016, True) 
Bilan_table

,ISO_3,Years,HDI,Biocapacity_Deficit_or_Reserve,Earths_Required,Countries_Required
0,AFG,2016,0.460000,-0.30,0.46,1.60
1,ALB,2016,0.730000,-1.03,1.27,1.87
2,DZA,2016,0.730000,-1.53,1.22,3.61
3,AGO,2016,0.520000,1.61,0.54,0.37
4,ATG,2016,0.780000,-4.44,3.11,5.70
...,...,...,...,...,...,...
176,VEN,2016,0.763846,-0.79,2.06,1.28
177,VNM,2016,0.660000,-0.65,0.95,1.66
178,YEM,2016,0.500000,-0.53,0.59,2.06
179,ZMB,2016,0.580000,1.24,0.57,0.44
180,ZWE,2016,0.490000,-0.75,0.79,2.20

In [92]:
Bilan_table.to_csv('Bilan_table.csv')

### 3 . CREATION DE DATAFRAME: Country_info

In [93]:
# Country_info = 
# Country
# Years
# Percapita GDP (2010 USD)
# Population

In [94]:
# CREATION DE LISTE AVEC VALEUR UNIQUE DANS CHAQUE CATEGORIE
# Country : Ajout des informations des country not in NFA_country
# Collecte des données par colonne:
Country_i = NFA['Country'].iloc[:87020:10]
Country_i

230      Afghanistan
240      Afghanistan
250      Afghanistan
260      Afghanistan
270      Afghanistan
            ...
63080       Zimbabwe
63090       Zimbabwe
63100       Zimbabwe
63110       Zimbabwe
63120       Zimbabwe
Name: Country, Length: 8426, dtype: object

In [95]:
ISO_3_i = NFA['ISO_3'].iloc[:87020:10]
ISO_3_i

230      AFG
240      AFG
250      AFG
260      AFG
270      AFG
        ...
63080    ZWE
63090    ZWE
63100    ZWE
63110    ZWE
63120    ZWE
Name: ISO_3, Length: 8426, dtype: object

In [96]:
Years = NFA['Years'].iloc[:87020:10]
Years

230      1961
240      1962
250      1963
260      1964
270      1965
         ...
63080    2010
63090    2011
63100    2012
63110    2013
63120    2014
Name: Years, Length: 8426, dtype: int64

In [97]:
GDP_PIB = NFA['Percapita_GDP_2010_USD'].iloc[:87020:10]
GDP_PIB

230          NaN
240          NaN
250          NaN
260          NaN
270          NaN
          ...
63080    719.979
63090    813.834
63100    913.531
63110    942.039
63120    939.780
Name: Percapita_GDP_2010_USD, Length: 8426, dtype: float64

In [98]:
Population = NFA['Population'].iloc[:87020:10]
Population

230       9165000
240       9344000
250       9532000
260       9729000
270       9935000
           ...
63080    13974000
63090    14256000
63100    14565000
63110    14898000
63120    15246000
Name: Population, Length: 8426, dtype: int64

In [99]:
Country_info_index = pd.DataFrame(
    {'Country': Country_i,
     'ISO_3': ISO_3_i,
     'Years': Years,
     'GDP': GDP_PIB,
     'Population': Population,
    })
del Country_info_index['Country']
Country_info_index

      ISO_3  Years      GDP  Population
230     AFG   1961      NaN     9165000
240     AFG   1962      NaN     9344000
250     AFG   1963      NaN     9532000
260     AFG   1964      NaN     9729000
270     AFG   1965      NaN     9935000
...     ...    ...      ...         ...
63080   ZWE   2010  719.979    13974000
63090   ZWE   2011  813.834    14256000
63100   ZWE   2012  913.531    14565000
63110   ZWE   2013  942.039    14898000
63120   ZWE   2014  939.780    15246000

[8426 rows x 4 columns]

In [100]:
# Replace NaN value with "W" for "World":
Country_info_index.isnull().sum()

ISO_3            0
Years            0
GDP           1361
Population       0
dtype: int64

In [101]:
 Country_info_index["ISO_3"].fillna("W", inplace = True)

In [102]:
Population_2016 = GEF['Population_M']*1000000
Population_2016 = Population_2016.astype(np.int64)
Population_2016

0      29820000
1       3160000
2      38480000
3      20820000
4         90000
         ...
176    29960000
177    90800000
178    23850000
179    14080000
180    13720000
Name: Population_M, Length: 181, dtype: int64

In [103]:
Country_info_2016 = pd.DataFrame(
    {'Country': GEF.Country,
     'ISO_3': Country_table_index.ISO_3,
     'Years': 2016,
     'GDP': GEF.PIB,
     'Population': Population_2016,
    })
del Country_info_2016['Country']
Country_info_2016.isnull().sum()

ISO_3          0
Years          0
GDP           11
Population     0
dtype: int64

In [104]:
# Merge les deux dataframes: Country_info_index & Country_info_2016
Country_info = Country_info_index.append([Country_info_2016])
# Country_info.isnull().sum() 
Country_info

    ISO_3  Years       GDP  Population
230   AFG   1961       NaN     9165000
240   AFG   1962       NaN     9344000
250   AFG   1963       NaN     9532000
260   AFG   1964       NaN     9729000
270   AFG   1965       NaN     9935000
..    ...    ...       ...         ...
176   VEN   2016  10237.80    29960000
177   VNM   2016   1532.31    90800000
178   YEM   2016   1302.30    23850000
179   ZMB   2016   1740.64    14080000
180   ZWE   2016    865.91    13720000

[8607 rows x 4 columns]

In [105]:
# Re-index la table
Country_info = Country_info.sort_values(['ISO_3', 'Years'], ascending=[True, True])
Country_info.reset_index(inplace=True)
del Country_info['index']
Country_info

     ISO_3  Years      GDP  Population
0      ABW   1986      NaN       63000
1      ABW   1987      NaN       62000
2      ABW   1988      NaN       61000
3      ABW   1989      NaN       61000
4      ABW   1990      NaN       62000
...    ...    ...      ...         ...
8602   ZWE   2011  813.834    14256000
8603   ZWE   2012  913.531    14565000
8604   ZWE   2013  942.039    14898000
8605   ZWE   2014  939.780    15246000
8606   ZWE   2016  865.910    13720000

[8607 rows x 4 columns]

In [106]:
Country_info.to_csv('Country_info.csv')

In [107]:
Country_info.iloc[167]

ISO_3             ALB
Years            1988
GDP           2051.24
Population    3197000
Name: 167, dtype: object

In [108]:
Country_info

     ISO_3  Years      GDP  Population
0      ABW   1986      NaN       63000
1      ABW   1987      NaN       62000
2      ABW   1988      NaN       61000
3      ABW   1989      NaN       61000
4      ABW   1990      NaN       62000
...    ...    ...      ...         ...
8602   ZWE   2011  813.834    14256000
8603   ZWE   2012  913.531    14565000
8604   ZWE   2013  942.039    14898000
8605   ZWE   2014  939.780    15246000
8606   ZWE   2016  865.910    13720000

[8607 rows x 4 columns]

### 4 . CREATION DE DATAFRAME: NFA Table & Years & Record

In [109]:
GEF.dtypes

Country                            object
Region                             object
Population_M                      float64
HDI                               float64
PIB                               float64
Cropland_Footprint                float64
Grazing_Footprint                 float64
Forest_Footprint                  float64
Carbon_Footprint                  float64
Fish_Footprint                    float64
Total_Ecological_Footprint        float64
Cropland                          float64
Grazing_Land                      float64
Forest_Land                       float64
Fishing_Water                     float64
Urban_Land                        float64
Total_Biocapacity                 float64
Biocapacity_Deficit_or_Reserve    float64
Earths_Required                   float64
Countries_Required                float64
Data_Quality                       object
dtype: object

In [110]:
del GEF['Region']
GEF

,Country,Population_M,HDI,PIB,Cropland_Footprint,Grazing_Footprint,Forest_Footprint,Carbon_Footprint,Fish_Footprint,Total_Ecological_Footprint,Cropland,Grazing_Land,Forest_Land,Fishing_Water,Urban_Land,Total_Biocapacity,Biocapacity_Deficit_or_Reserve,Earths_Required,Countries_Required,Data_Quality
0,Afghanistan,29.82,0.460000,614.66,0.30,0.20,0.08,0.18,0.00,0.79,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,3.16,0.730000,4534.37,0.78,0.22,0.25,0.87,0.02,2.21,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,38.48,0.730000,5430.57,0.60,0.16,0.17,1.14,0.01,2.12,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,20.82,0.520000,4665.91,0.33,0.15,0.12,0.20,0.09,0.93,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,0.09,0.780000,13205.10,NaN,NaN,NaN,NaN,NaN,5.38,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",29.96,0.763846,10237.80,0.45,0.74,0.12,2.13,0.09,3.57,0.14,0.57,1.79,0.24,0.04,2.78,-0.79,2.06,1.28,5
177,Viet Nam,90.80,0.660000,1532.31,0.50,0.01,0.19,0.79,0.05,1.65,0.55,0.01,0.17,0.16,0.10,1.00,-0.65,0.95,1.66,6
178,Yemen,23.85,0.500000,1302.30,0.34,0.14,0.04,0.42,0.04,1.03,0.09,0.12,0.04,0.20,0.04,0.50,-0.53,0.59,2.06,5
179,Zambia,14.08,0.580000,1740.64,0.19,0.18,0.33,0.24,0.01,0.99,0.24,0.94,0.99,0.02,0.04,2.23,1.24,0.57,0.44,6
180,Zimbabwe,13.72,0.490000,865.91,0.20,0.32,0.29,0.53,0.01,1.37,0.15,0.32,0.12,0.01,0.02,0.62,-0.75,0.79,2.20,6

In [111]:
NFA.dtypes

Country                    object
ISO_3                      object
UN_region                  object
UN_subregion               object
Years                       int64
Record                     object
Crop_Land                 float64
Grazing_Land              float64
Forest_Land               float64
Fishing_Ground            float64
Built_up_Land             float64
Carbon                    float64
Total                     float64
Percapita_GDP_2010_USD    float64
Population                  int64
dtype: object

In [112]:
NFA["ISO_3"].fillna("W", inplace = True)

In [113]:
NFA = NFA.drop(columns= ['Country','UN_region','UN_subregion','Percapita_GDP_2010_USD','Population'])

In [114]:
NFA.reset_index(inplace=True)
del NFA['index']
NFA

,ISO_3,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total
0,AFG,1961,BiocapPerCap,5.445512e-01,6.778924e-01,7.140585e-02,0.000000,0.029707,0.000000e+00,1.323556e+00
1,AFG,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,6.544311e+05,0.000000,272261.569800,0.000000e+00,1.213033e+07
2,AFG,1961,EFConsPerCap,5.388636e-01,5.281659e-01,8.607745e-02,0.000053,0.029707,2.857219e-02,1.211439e+00
3,AFG,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,7.888956e+05,485.346414,272261.569800,2.618627e+05,1.110278e+07
4,AFG,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000e+00,0.000000,0.000000,1.958873e-03,6.697406e-02
...,...,...,...,...,...,...,...,...,...,...
84255,ZWE,2014,EFExportsTotGHA,5.158958e+05,5.835466e+04,3.823056e+04,40747.724400,0.000000,9.514889e+05,1.604718e+06
84256,ZWE,2014,EFImportsPerCap,7.266508e-02,3.648067e-03,1.238826e-02,0.009647,0.000000,1.344694e-01,2.328175e-01
84257,ZWE,2014,EFImportsTotGHA,1.107845e+06,5.561807e+04,1.888702e+05,147072.171800,0.000000,2.050107e+06,3.549512e+06
84258,ZWE,2014,EFProdPerCap,1.187035e-01,2.883490e-01,2.571124e-01,0.000989,0.018115,2.773020e-01,9.605710e-01
84259,ZWE,2014,EFProdTotGHA,1.809742e+06,4.396140e+06,3.919911e+06,15077.190210,276180.377900,4.227719e+06,1.464477e+07

### MERGE DES COLONNES GEF TO NFA (DATA 2016)

In [115]:
# select Biocapacity columns
GEF_Biocapacity_columns = GEF.loc[:, ['Country', 'Cropland', 'Grazing_Land', 'Forest_Land', 'Fishing_Water', 'Urban_Land','Total_Biocapacity']] 
GEF_Biocapacity_columns

,Country,Cropland,Grazing_Land,Forest_Land,Fishing_Water,Urban_Land,Total_Biocapacity
0,Afghanistan,0.24,0.20,0.02,0.00,0.04,0.50
1,Albania,0.55,0.21,0.29,0.07,0.06,1.18
2,Algeria,0.24,0.27,0.03,0.01,0.03,0.59
3,Angola,0.20,1.42,0.64,0.26,0.04,2.55
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,0.94
...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",0.14,0.57,1.79,0.24,0.04,2.78
177,Viet Nam,0.55,0.01,0.17,0.16,0.10,1.00
178,Yemen,0.09,0.12,0.04,0.20,0.04,0.50
179,Zambia,0.24,0.94,0.99,0.02,0.04,2.23
180,Zimbabwe,0.15,0.32,0.12,0.01,0.02,0.62

In [116]:
# select Footprint columns
GEF_Footprint_columns =GEF.loc[:, ['Country', 'Cropland_Footprint', 'Grazing_Footprint', 'Forest_Footprint', 'Fish_Footprint', 'Carbon_Footprint','Total_Ecological_Footprint']] 
GEF_Footprint_columns

,Country,Cropland_Footprint,Grazing_Footprint,Forest_Footprint,Fish_Footprint,Carbon_Footprint,Total_Ecological_Footprint
0,Afghanistan,0.30,0.20,0.08,0.00,0.18,0.79
1,Albania,0.78,0.22,0.25,0.02,0.87,2.21
2,Algeria,0.60,0.16,0.17,0.01,1.14,2.12
3,Angola,0.33,0.15,0.12,0.09,0.20,0.93
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,5.38
...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",0.45,0.74,0.12,0.09,2.13,3.57
177,Viet Nam,0.50,0.01,0.19,0.05,0.79,1.65
178,Yemen,0.34,0.14,0.04,0.04,0.42,1.03
179,Zambia,0.19,0.18,0.33,0.01,0.24,0.99
180,Zimbabwe,0.20,0.32,0.29,0.01,0.53,1.37

In [117]:
GEF_Biocapacity_columns.insert(1, 'Years', 2016)
GEF_Biocapacity_columns.insert(2, 'Record', 'BiocapPerCap')
GEF_Biocapacity_columns

,Country,Years,Record,Cropland,Grazing_Land,Forest_Land,Fishing_Water,Urban_Land,Total_Biocapacity
0,Afghanistan,2016,BiocapPerCap,0.24,0.20,0.02,0.00,0.04,0.50
1,Albania,2016,BiocapPerCap,0.55,0.21,0.29,0.07,0.06,1.18
2,Algeria,2016,BiocapPerCap,0.24,0.27,0.03,0.01,0.03,0.59
3,Angola,2016,BiocapPerCap,0.20,1.42,0.64,0.26,0.04,2.55
4,Antigua and Barbuda,2016,BiocapPerCap,NaN,NaN,NaN,NaN,NaN,0.94
...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",2016,BiocapPerCap,0.14,0.57,1.79,0.24,0.04,2.78
177,Viet Nam,2016,BiocapPerCap,0.55,0.01,0.17,0.16,0.10,1.00
178,Yemen,2016,BiocapPerCap,0.09,0.12,0.04,0.20,0.04,0.50
179,Zambia,2016,BiocapPerCap,0.24,0.94,0.99,0.02,0.04,2.23
180,Zimbabwe,2016,BiocapPerCap,0.15,0.32,0.12,0.01,0.02,0.62

In [118]:
GEF_Footprint_columns.insert(1, 'Years', 2016)
GEF_Footprint_columns.insert(2, 'Record', 'EFConsPerCap')
GEF_Footprint_columns

,Country,Years,Record,Cropland_Footprint,Grazing_Footprint,Forest_Footprint,Fish_Footprint,Carbon_Footprint,Total_Ecological_Footprint
0,Afghanistan,2016,EFConsPerCap,0.30,0.20,0.08,0.00,0.18,0.79
1,Albania,2016,EFConsPerCap,0.78,0.22,0.25,0.02,0.87,2.21
2,Algeria,2016,EFConsPerCap,0.60,0.16,0.17,0.01,1.14,2.12
3,Angola,2016,EFConsPerCap,0.33,0.15,0.12,0.09,0.20,0.93
4,Antigua and Barbuda,2016,EFConsPerCap,NaN,NaN,NaN,NaN,NaN,5.38
...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",2016,EFConsPerCap,0.45,0.74,0.12,0.09,2.13,3.57
177,Viet Nam,2016,EFConsPerCap,0.50,0.01,0.19,0.05,0.79,1.65
178,Yemen,2016,EFConsPerCap,0.34,0.14,0.04,0.04,0.42,1.03
179,Zambia,2016,EFConsPerCap,0.19,0.18,0.33,0.01,0.24,0.99
180,Zimbabwe,2016,EFConsPerCap,0.20,0.32,0.29,0.01,0.53,1.37

In [119]:
GEF_Footprint_columns.dtypes

Country                        object
Years                           int64
Record                         object
Cropland_Footprint            float64
Grazing_Footprint             float64
Forest_Footprint              float64
Fish_Footprint                float64
Carbon_Footprint              float64
Total_Ecological_Footprint    float64
dtype: object

In [120]:
# NORMALISATION DES TITRE DES COLONNE dans GEF:
GEF_Biocapacity_columns.rename(columns={
                    'Cropland':'Crop_Land', 
                    'Fishing_Water':'Fishing_Ground',
                    'Urban_Land':'Built_up_Land',
                    'Total_Biocapacity':'Total',
                   }, inplace=True)
GEF_Biocapacity_columns

,Country,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Total
0,Afghanistan,2016,BiocapPerCap,0.24,0.20,0.02,0.00,0.04,0.50
1,Albania,2016,BiocapPerCap,0.55,0.21,0.29,0.07,0.06,1.18
2,Algeria,2016,BiocapPerCap,0.24,0.27,0.03,0.01,0.03,0.59
3,Angola,2016,BiocapPerCap,0.20,1.42,0.64,0.26,0.04,2.55
4,Antigua and Barbuda,2016,BiocapPerCap,NaN,NaN,NaN,NaN,NaN,0.94
...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",2016,BiocapPerCap,0.14,0.57,1.79,0.24,0.04,2.78
177,Viet Nam,2016,BiocapPerCap,0.55,0.01,0.17,0.16,0.10,1.00
178,Yemen,2016,BiocapPerCap,0.09,0.12,0.04,0.20,0.04,0.50
179,Zambia,2016,BiocapPerCap,0.24,0.94,0.99,0.02,0.04,2.23
180,Zimbabwe,2016,BiocapPerCap,0.15,0.32,0.12,0.01,0.02,0.62

In [121]:
# NORMALISATION DES TITRE DES COLONNE dans GEF:
GEF_Footprint_columns.rename(columns={
                    'Cropland_Footprint':'Crop_Land', 
                    'Grazing_Footprint':'Grazing_Land',
                    'Forest_Footprint':'Forest_Land',
                    'Fish_Footprint':'Fishing_Ground',
                    'Carbon_Footprint':'Carbon',
                    'Total_Ecological_Footprint':'Total',
                   }, inplace=True)
GEF_Footprint_columns

,Country,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Carbon,Total
0,Afghanistan,2016,EFConsPerCap,0.30,0.20,0.08,0.00,0.18,0.79
1,Albania,2016,EFConsPerCap,0.78,0.22,0.25,0.02,0.87,2.21
2,Algeria,2016,EFConsPerCap,0.60,0.16,0.17,0.01,1.14,2.12
3,Angola,2016,EFConsPerCap,0.33,0.15,0.12,0.09,0.20,0.93
4,Antigua and Barbuda,2016,EFConsPerCap,NaN,NaN,NaN,NaN,NaN,5.38
...,...,...,...,...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of",2016,EFConsPerCap,0.45,0.74,0.12,0.09,2.13,3.57
177,Viet Nam,2016,EFConsPerCap,0.50,0.01,0.19,0.05,0.79,1.65
178,Yemen,2016,EFConsPerCap,0.34,0.14,0.04,0.04,0.42,1.03
179,Zambia,2016,EFConsPerCap,0.19,0.18,0.33,0.01,0.24,0.99
180,Zimbabwe,2016,EFConsPerCap,0.20,0.32,0.29,0.01,0.53,1.37

In [122]:
ISO_3_all = NFA.ISO_3.append(Country_table_index.ISO_3)
ISO_3_all = pd.DataFrame(ISO_3_all, columns = ['ISO_3']) 
ISO_3_all.reset_index(inplace=True)
del ISO_3_all['index']
ISO_3_all

      ISO_3
0       AFG
1       AFG
2       AFG
3       AFG
4       AFG
...     ...
84436   VEN
84437   VNM
84438   YEM
84439   ZMB
84440   ZWE

[84441 rows x 1 columns]

In [123]:
NFA_all = NFA.append(GEF_Biocapacity_columns, sort=False)
NFA_all

,ISO_3,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total,Country
0,AFG,1961,BiocapPerCap,5.445512e-01,6.778924e-01,0.071406,0.000000,0.029707,0.000000,1.323556e+00,NaN
1,AFG,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,654431.076400,0.000000,272261.569800,0.000000,1.213033e+07,NaN
2,AFG,1961,EFConsPerCap,5.388636e-01,5.281659e-01,0.086077,0.000053,0.029707,0.028572,1.211439e+00,NaN
3,AFG,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,788895.590400,485.346414,272261.569800,261862.734700,1.110278e+07,NaN
4,AFG,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000,0.000000,0.000000,0.001959,6.697406e-02,NaN
...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,2016,BiocapPerCap,1.400000e-01,5.700000e-01,1.790000,0.240000,0.040000,NaN,2.780000e+00,"Venezuela, Bolivarian Republic of"
177,NaN,2016,BiocapPerCap,5.500000e-01,1.000000e-02,0.170000,0.160000,0.100000,NaN,1.000000e+00,Viet Nam
178,NaN,2016,BiocapPerCap,9.000000e-02,1.200000e-01,0.040000,0.200000,0.040000,NaN,5.000000e-01,Yemen
179,NaN,2016,BiocapPerCap,2.400000e-01,9.400000e-01,0.990000,0.020000,0.040000,NaN,2.230000e+00,Zambia
180,NaN,2016,BiocapPerCap,1.500000e-01,3.200000e-01,0.120000,0.010000,0.020000,NaN,6.200000e-01,Zimbabwe

In [124]:
NFA_all = NFA.append(GEF_Footprint_columns, sort=False)
NFA_all.reset_index(inplace=True)
del NFA_all['index']
NFA_all

,ISO_3,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total,Country
0,AFG,1961,BiocapPerCap,5.445512e-01,6.778924e-01,0.071406,0.000000,0.029707,0.000000,1.323556e+00,NaN
1,AFG,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,654431.076400,0.000000,272261.569800,0.000000,1.213033e+07,NaN
2,AFG,1961,EFConsPerCap,5.388636e-01,5.281659e-01,0.086077,0.000053,0.029707,0.028572,1.211439e+00,NaN
3,AFG,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,788895.590400,485.346414,272261.569800,261862.734700,1.110278e+07,NaN
4,AFG,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000,0.000000,0.000000,0.001959,6.697406e-02,NaN
...,...,...,...,...,...,...,...,...,...,...,...
84436,NaN,2016,EFConsPerCap,4.500000e-01,7.400000e-01,0.120000,0.090000,NaN,2.130000,3.570000e+00,"Venezuela, Bolivarian Republic of"
84437,NaN,2016,EFConsPerCap,5.000000e-01,1.000000e-02,0.190000,0.050000,NaN,0.790000,1.650000e+00,Viet Nam
84438,NaN,2016,EFConsPerCap,3.400000e-01,1.400000e-01,0.040000,0.040000,NaN,0.420000,1.030000e+00,Yemen
84439,NaN,2016,EFConsPerCap,1.900000e-01,1.800000e-01,0.330000,0.010000,NaN,0.240000,9.900000e-01,Zambia
84440,NaN,2016,EFConsPerCap,2.000000e-01,3.200000e-01,0.290000,0.010000,NaN,0.530000,1.370000e+00,Zimbabwe

In [125]:
NFA_all.rename(columns={'ISO_3':'ISO'}, inplace=True)
NFA_all

,ISO,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total,Country
0,AFG,1961,BiocapPerCap,5.445512e-01,6.778924e-01,0.071406,0.000000,0.029707,0.000000,1.323556e+00,NaN
1,AFG,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,654431.076400,0.000000,272261.569800,0.000000,1.213033e+07,NaN
2,AFG,1961,EFConsPerCap,5.388636e-01,5.281659e-01,0.086077,0.000053,0.029707,0.028572,1.211439e+00,NaN
3,AFG,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,788895.590400,485.346414,272261.569800,261862.734700,1.110278e+07,NaN
4,AFG,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000,0.000000,0.000000,0.001959,6.697406e-02,NaN
...,...,...,...,...,...,...,...,...,...,...,...
84436,NaN,2016,EFConsPerCap,4.500000e-01,7.400000e-01,0.120000,0.090000,NaN,2.130000,3.570000e+00,"Venezuela, Bolivarian Republic of"
84437,NaN,2016,EFConsPerCap,5.000000e-01,1.000000e-02,0.190000,0.050000,NaN,0.790000,1.650000e+00,Viet Nam
84438,NaN,2016,EFConsPerCap,3.400000e-01,1.400000e-01,0.040000,0.040000,NaN,0.420000,1.030000e+00,Yemen
84439,NaN,2016,EFConsPerCap,1.900000e-01,1.800000e-01,0.330000,0.010000,NaN,0.240000,9.900000e-01,Zambia
84440,NaN,2016,EFConsPerCap,2.000000e-01,3.200000e-01,0.290000,0.010000,NaN,0.530000,1.370000e+00,Zimbabwe

In [126]:
NFA_all = NFA_all.drop(columns= ['Country','ISO'])

In [127]:
NFA_all = pd.concat([NFA_all, ISO_3_all], axis=1)
NFA_all = NFA_all[['ISO_3', 'Years', 'Record', 'Crop_Land', 'Grazing_Land', 
                   'Forest_Land','Fishing_Ground', 'Built_up_Land', 'Carbon','Total']]
NFA_all

,ISO_3,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total
0,AFG,1961,BiocapPerCap,5.445512e-01,6.778924e-01,0.071406,0.000000,0.029707,0.000000,1.323556e+00
1,AFG,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,654431.076400,0.000000,272261.569800,0.000000,1.213033e+07
2,AFG,1961,EFConsPerCap,5.388636e-01,5.281659e-01,0.086077,0.000053,0.029707,0.028572,1.211439e+00
3,AFG,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,788895.590400,485.346414,272261.569800,261862.734700,1.110278e+07
4,AFG,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000,0.000000,0.000000,0.001959,6.697406e-02
...,...,...,...,...,...,...,...,...,...,...
84436,VEN,2016,EFConsPerCap,4.500000e-01,7.400000e-01,0.120000,0.090000,NaN,2.130000,3.570000e+00
84437,VNM,2016,EFConsPerCap,5.000000e-01,1.000000e-02,0.190000,0.050000,NaN,0.790000,1.650000e+00
84438,YEM,2016,EFConsPerCap,3.400000e-01,1.400000e-01,0.040000,0.040000,NaN,0.420000,1.030000e+00
84439,ZMB,2016,EFConsPerCap,1.900000e-01,1.800000e-01,0.330000,0.010000,NaN,0.240000,9.900000e-01
84440,ZWE,2016,EFConsPerCap,2.000000e-01,3.200000e-01,0.290000,0.010000,NaN,0.530000,1.370000e+00

In [128]:
# VALEUR NULL, NaN, 0
# Count all NaN in a DataFrame (both columns & Rows)
NFA_all.isnull().sum().sum()
NFA_all.isnull().sum()

ISO_3                 0
Years                 0
Record                0
Crop_Land         22011
Grazing_Land      22011
Forest_Land       22011
Fishing_Ground    22011
Built_up_Land     22181
Carbon            22011
Total                 0
dtype: int64

In [129]:
# df.dropna(how='all')     #drop only if ALL columns are NaN
# df.dropna()              #drop all rows that have any NaN values
# df.dropna(subset=[1])    #Drop only if NaN in specific column (as asked in the question)
# df = df[np.isfinite(df['Column_name'])] or df = df[pd.notnull(df['Gender'])]

In [130]:
NFA_all = NFA_all[pd.notnull(NFA_all['Crop_Land'])]
NFA_all

,ISO_3,Years,Record,Crop_Land,Grazing_Land,Forest_Land,Fishing_Ground,Built_up_Land,Carbon,Total
0,AFG,1961,BiocapPerCap,5.445512e-01,6.778924e-01,0.071406,0.000000,0.029707,0.000000,1.323556e+00
1,AFG,1961,BiocapTotGHA,4.990785e+06,6.212850e+06,654431.076400,0.000000,272261.569800,0.000000,1.213033e+07
2,AFG,1961,EFConsPerCap,5.388636e-01,5.281659e-01,0.086077,0.000053,0.029707,0.028572,1.211439e+00
3,AFG,1961,EFConsTotGHA,4.938658e+06,4.840614e+06,788895.590400,485.346414,272261.569800,261862.734700,1.110278e+07
4,AFG,1961,EFExportsPerCap,1.247236e-02,5.254283e-02,0.000000,0.000000,0.000000,0.001959,6.697406e-02
...,...,...,...,...,...,...,...,...,...,...
84436,VEN,2016,EFConsPerCap,4.500000e-01,7.400000e-01,0.120000,0.090000,NaN,2.130000,3.570000e+00
84437,VNM,2016,EFConsPerCap,5.000000e-01,1.000000e-02,0.190000,0.050000,NaN,0.790000,1.650000e+00
84438,YEM,2016,EFConsPerCap,3.400000e-01,1.400000e-01,0.040000,0.040000,NaN,0.420000,1.030000e+00
84439,ZMB,2016,EFConsPerCap,1.900000e-01,1.800000e-01,0.330000,0.010000,NaN,0.240000,9.900000e-01
84440,ZWE,2016,EFConsPerCap,2.000000e-01,3.200000e-01,0.290000,0.010000,NaN,0.530000,1.370000e+00

In [131]:
NFA_all.isnull().sum()

ISO_3               0
Years               0
Record              0
Crop_Land           0
Grazing_Land        0
Forest_Land         0
Fishing_Ground      0
Built_up_Land     170
Carbon              0
Total               0
dtype: int64

In [132]:
NFA_all.to_csv('NFA_all.csv')

In [133]:
# ROUND VALUES IN DATAFRAME
# https://datatofish.com/round-values-pandas-dataframe/

# NFA_all = NFA_all.round(decimals=3)
# NFA_all

# Country_info = Country_info.round(decimals=3)
# Country_info

### YEARS

In [134]:
year_all = Country_info['Years'].unique()

In [135]:
years = pd.DataFrame(
    {'Years': year_all
    })

In [136]:
# years.to_csv('years.csv')

### RECORD

In [137]:
record = NFA_all['Record'].unique()

In [138]:
record = pd.DataFrame(
    {'Record': record
    })

In [139]:
# record.to_csv('record.csv')

### CREATION DE LA BASE DE DONNÉE: CVS > SQL

- Automatiser l'alimentation de la BD
- Automatiser la recherche des doublons et des erreurs
- Supprimer ou mettre à jour les données en erreur
- Mesurer et rendre compte des performances des requêtes du projet
- Apporter au moins une mesure d'optimisation des requêtes

In [ ]:
"""# Connaître la taille max de chaque colonne pour dimensionner au plus juste le données :
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': ['abc', 'de', 'abcd'],
                   'B': ['a', 'abcde', 'abc'],
                   'C': [1, 2.5, 1.5]})

measurer = np.vectorize(len)
res1 = measurer(df.values.astype(str)).max(axis=0)"""

In [ ]:
import pandas as pd
import numpy as np

measurer = np.vectorize(len)
R1 = measurer(Country_table_index.values.astype(str)).max(axis=0)
R1

In [ ]:
R2 = measurer(Country_info.values.astype(str)).max(axis=0)
R2

In [ ]:
R3 = measurer(Bilan_table.values.astype(str)).max(axis=0)
R3

In [ ]:
R4 = measurer(NFA_all.values.astype(str)).max(axis=0)
R4

In [ ]:
Country_info.iloc[167]

In [ ]:
# Create Table Mysql with python:
# https://www.w3schools.com/python/python_mysql_create_table.asp
# https://flask-sqlalchemy.palletsprojects.com/en/2.x/quickstart/
# https://scotch.io/tutorials/build-a-crud-web-app-with-python-and-flask-part-one

In [ ]:
import pymysql
import pymysql.cursors
import sys
import os
import csv

In [ ]:
# connecter à MySQL  
# mysql+pymysql://<username>:<password>@<host>/<dbname>[?<options>]
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:password.?19@127.0.0.1/footprint?host=127.0.0.1?port=3306") 
conn = engine.connect() 
print('connected')

In [ ]:
# create connection
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='password.?19')

print('Connected to DB: {}'.format(connection))

In [ ]:
# Create cursor and execute Load SQL
cursor = connection.cursor()

In [ ]:
# Drop DB
cursor.execute('DROP DATABASE IF EXISTS footprint')

In [ ]:
# Create DB
cursor.execute('CREATE DATABASE footprint;')

In [ ]:
# Show DB
cursor.execute('SHOW DATABASES;')

In [ ]:
# Connect DB
cursor.execute('USE footprint;')

In [ ]:
# https://medium.com/@AviGoom/how-to-import-a-csv-file-into-a-mysql-database-ef8860878a68

In [ ]:
# importer un DF dans une table
Country_table_all.to_sql('Country_index', conn, if_exists='replace', index = False)
Country_info.to_sql('Economy_info', conn, if_exists='replace', index = False)
Bilan_table.to_sql('Bilan_Footprint', conn, if_exists='replace', index = False)
NFA_all.to_sql('National_Footprint', conn, if_exists='replace', index = False)
# years.to_sql('Years', conn, if_exists='replace', index = False)
# record.to_sql('Record', conn, if_exists='replace', index = False)

In [ ]:
# http://blog.neovov.com/2008/06/05/les-cles-primaires-composites/
# https://mysql.developpez.com/tutoriels/manuel-de-reference-mysql-5-0/?page=Mathematiques-de-precision
# http://download.nust.na/pub6/mysql/doc/refman/5.0/fr/numeric-types.html

Cela se résume au débat clé de substitution versus clé naturelle dans le monde des bases de données. 
Voir par exemple ici, ici et ici pour les textes sur le sujet. 
Je pense que les deux choix sont valables, mais dans ce cas, je choisirais le AccountID comme clé naturelle 
(étant donné que le AccountID est unique pour chaque compte, ne sera pas nul et ne sera pas sujet à modification),
car cela signifie moins de frais généraux.
Dans ce cas, je ne vois pas de valeur ajoutée à une clé de substitution.

Clés naturelles:

    avoir un sens pour l'utilisateur
    sont difficiles à changer en cas de besoin
    peut conduire à avoir besoin de moins de jointures dans les requêtes

Clés de substitution:

    ne signifie rien pour l'utilisateur
    ne sont pas sujets à changement
    peut conduire à avoir besoin de plus de jointures dans les requêtes
    peut nécessiter des index supplémentaires ou plus grands

In [ ]:
"""
# ajouter et modifier une table dans une BD SQL
USE footprint;

-- creation des tables 

USE footprint;

-- creation des tables 

ALTER TABLE Country_index
    MODIFY ISO_3 VARCHAR (3),
    MODIFY Country VARCHAR (48),
    MODIFY UN_region VARCHAR (40),
    MODIFY UN_subregion VARCHAR (30),
    MODIFY Data_Quality VARCHAR (5),
    ADD PRIMARY KEY (ISO_3)
;


ALTER TABLE Economy_info 
    MODIFY ISO_3 VARCHAR (3),
    MODIFY Years YEAR (4), 
    MODIFY GDP DECIMAL (10,4), 
    MODIFY Population DECIMAL (15),
    ADD PRIMARY KEY (ISO_3, Years)
;

ALTER TABLE Bilan_Footprint
    MODIFY ISO_3 VARCHAR (3),
    MODIFY Years YEAR (4),
    MODIFY HDI DECIMAL(2,2),
    MODIFY Biocapacity_Deficit_or_Reserve DECIMAL,
    MODIFY Earths_Required DECIMAL,
    MODIFY Countries_Required DECIMAL,
    ADD PRIMARY KEY (ISO_3,Years)
;

ALTER TABLE National_Footprint 
	MODIFY ISO_3 VARCHAR (3),
    MODIFY Years YEAR (4),
    MODIFY Record VARCHAR (30),
    MODIFY Crop_Land DECIMAL(20,10),
    MODIFY Grazing_Land DECIMAL(20,10),
    MODIFY Forest_Land DECIMAL(20,10), 
    MODIFY Fishing_Ground DECIMAL(20,10),
    MODIFY Built_up_Land DECIMAL(20,10),
    MODIFY Carbon BIGINT,
    MODIFY Total BIGINT,
    ADD PRIMARY KEY (ISO_3, Years, Record)
;

"""

In [ ]:
cursor.execute('ALTER TABLE Country_index MODIFY ISO_3 VARCHAR (3), MODIFY Country VARCHAR (48), MODIFY UN_region VARCHAR (40), MODIFY UN_subregion VARCHAR (30), MODIFY Data_Quality VARCHAR (5), ADD PRIMARY KEY (ISO_3);')
cursor.execute('ALTER TABLE Economy_info MODIFY ISO_3 VARCHAR (3), MODIFY Years YEAR (4),  MODIFY GDP DECIMAL (10,4),  MODIFY Population DECIMAL (15), ADD PRIMARY KEY (ISO_3, Years);')
cursor.execute('ALTER TABLE Bilan_Footprint MODIFY ISO_3 VARCHAR (3), MODIFY Years YEAR (4), MODIFY HDI DECIMAL(2,2), MODIFY Biocapacity_Deficit_or_Reserve DECIMAL, MODIFY Earths_Required DECIMAL, MODIFY Countries_Required DECIMAL, ADD PRIMARY KEY (ISO_3,Years);')
cursor.execute('ALTER TABLE National_Footprint MODIFY ISO_3 VARCHAR (3), MODIFY Years YEAR (4), MODIFY Record VARCHAR (30), MODIFY Crop_Land DECIMAL(20,10), MODIFY Grazing_Land DECIMAL(20,10), MODIFY Forest_Land DECIMAL(20,10), MODIFY Fishing_Ground DECIMAL(20,10), MODIFY Built_up_Land DECIMAL(20,10), MODIFY Carbon BIGINT, MODIFY Total BIGINT, ADD PRIMARY KEY (ISO_3, Years, Record);')

In [ ]:
# ajouter les contraintes dans une BD SQL
# http://www.mysqltutorial.org/mysql-foreign-key/
"""
USE footprint;

-- creation des contraintes: clé étrangère 
ALTER TABLE Economy_info
ADD CONSTRAINT Economy_info_index
  FOREIGN KEY (ISO_3)
  REFERENCES Country_index (ISO_3);
  -- ON DELETE CASCADE
  -- ON UPDATE CASCADE ;

ALTER TABLE Bilan_Footprint
ADD CONSTRAINT fk_Bilan_Footprint_index
  FOREIGN KEY (ISO_3)
  REFERENCES Country_index (ISO_3);
  -- ON DELETE CASCADE
  -- ON UPDATE CASCADE ;  

ALTER TABLE National_Footprint
ADD CONSTRAINT fk_National_Footprint_index
  FOREIGN KEY (ISO_3)
  REFERENCES Country_index (ISO_3);
  -- ON DELETE CASCADE
  -- ON UPDATE CASCADE ;
  

-- ALTER TABLE Country_index ADD INDEX Country_index (ISO_3);
-- ALTER TABLE Economy_info ADD INDEX Economy_info (ISO_3);
-- ALTER TABLE National_Footprint ADD INDEX National_Footprint (ISO_3);

"""

In [ ]:
# ajouter les contraintes dans une BD SQL
cursor.execute('ALTER TABLE Economy_info ADD CONSTRAINT Economy_info_index FOREIGN KEY (ISO_3) REFERENCES Country_index (ISO_3);')
cursor.execute('ALTER TABLE Bilan_Footprint ADD CONSTRAINT fk_Bilan_Footprint_index FOREIGN KEY (ISO_3) REFERENCES Country_index (ISO_3);')
cursor.execute('ALTER TABLE National_Footprint ADD CONSTRAINT fk_National_Footprint_index FOREIGN KEY (ISO_3) REFERENCES Country_index (ISO_3);')

In [ ]:
"""
USE footprint;

SELECT * FROM Country_table;
SELECT * FROM Country_info;
SELECT * FROM NFA;

SELECT *
FROM Country_info AS I
INNER JOIN Country_table AS T
WHERE T.HDI < 600
ORDER BY I.Country ASC;

SELECT *
FROM GEF AS N
INNER JOIN Country_table AS T
ON T.Country = N.Country
WHERE T.UN_subregion = 'Middle Africa';
"""

In [ ]:
# MODIN :  accélère le traitement de la donnée

In [ ]:
# Fonction LOAD DATA INFILE "path du fichier.cvs" pour créer ou via import data CVS (wizard)

In [ ]:
# Mise en place d’une planification des sauvegardes de la base de données:
# https://stackoverflow.com/questions/17190083/how-to-take-mysql-database-backup-using-mysql-workbench/36284791
# https://www.softwaretestinghelp.com/50-popular-sql-interview-questions-for-testers/?source=post_page-----902aaced94e4----------------------

In [ ]:
#Writing a csv file into SQL Server database using python
#https://stackoverflow.com/questions/21257899/writing-a-csv-file-into-sql-server-database-using-python

In [ ]:
# Méthode: lier directement le DB à la visualisation 
# ou partir de ton SQL > Dataframe > visualisation

In [ ]:
# http://www.mysqltutorial.org/mysql-export-table-to-csv/

In [ ]:
# https://pynative.com/python-mysql-database-connection/

### Pickle

https://www.quennec.fr/trucs-astuces/langages/python/python-le-module-pickle

In [140]:
import pickle

In [141]:
#pour enregistrer tes fichiers en pickle: import pickle en premier
def session_save(picke_path, objects):
    pickling_on = open(picke_path,"wb")
    try:
        pickle.dump(objects, pickling_on)
        print("session_save success\n")
    except:
        print("session_save failed\n")
    finally:
        pickling_on.close()

In [152]:
pickle.dump(Country_table_all, open('Country_index', 'wb'))

In [144]:
pickle.dump(Country_info, open('Economy_info', 'wb'))

In [145]:
pickle.dump(Bilan_table, open('Bilan_Footprint', 'wb'))

In [146]:
pickle.dump(NFA_all, open('National_Footprint', 'wb'))

In [ ]:
pickle.dump(NFA_all, open('National_Footprint', 'wb'))

In [147]:
#session_save('gsSessionM.pickle', gsSession)
#pour lire et récuperer un df:
try:
    pickle_off = open("gsSessionM.pickle","rb")
    gsSession = pickle.load(pickle_off)
    pickle_off.close()
except:
    print("il y''a eu 1 Pb avec gsSession.pickle")
    pass

il y''a eu 1 Pb avec gsSession.pickle

In [153]:
pickle.load(open('Country_index', 'rb'))

,Country,ISO_3,UN_region,UN_subregion,Data_Quality
0,Afghanistan,AFG,Asia,Southern Asia,6
1,Albania,ALB,Europe,Southern Europe,6
2,Algeria,DZA,Africa,Northern Africa,5
3,Angola,AGO,Africa,Middle Africa,6
4,Antigua and Barbuda,ATG,Latin America and the Caribbean,Caribbean,2
...,...,...,...,...,...
177,Viet Nam,VNM,Asia,South-Eastern Asia,6
178,World,W,World,World,NaN
179,Yemen,YEM,Asia,Western Asia,5
180,Zambia,ZMB,Africa,Eastern Africa,6
181,Zimbabwe,ZWE,Africa,Eastern Africa,6

Commande pour connaitre ce qui est en memoire sur Python:
- Pour connaitre les DataFrames : %who_ls DataFrame
- Pour connaitre les listes : %who_ls list
- Les fonctions : %who_ls function
- Tout connaitre avec les variables : %who_ls

In [ ]:
%who_ls DataFrame
%who_ls list
%who_ls function
%who_ls